<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{'/people/' + ${person.getId()} + '/edit'}" th:object="${person}">
    <label>Введите ФИО</label>
    <input type="text" th:field="*{fullName}">
    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
    <br>

    <label>Введите год рождение</label>
    <input type="number" th:field="*{age}">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
    <br>

    <button type="submit">edit!</button>
</form>
</body>
</html>
