
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{'/people/new'}" th:object="${person}">
    <label>Введите ФИО</label>
    <input type="text" th:field="*{fullName}">
    <br>
    <div th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>

    <LABEL>Введите год рождения</LABEL>
    <input type="number" th:field="*{age}">
    <br>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>

    <button type="submit">create!</button>
</form>
</body>
</html>
